<main id="pult">
  <h1>Пульт управления экраном</h1>
  <div class="items">
    <div data-category="economic" class="item item--green">Экономика</div>
    <div data-category="demo" class="item item--red">Демография</div>
    <div data-category="call-center" class="item item--blue">Колл-центр</div>
    <div data-category="op-sl" class="item item--yellow">Оперативные службы</div>
  </div>
</main>
