<main id="screen">
  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="left-panel">
    <span class="left-panel__text">Выберите категорию</span>
  </div>
  <div class="category"></div>
</main>
